{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_description }}">
    <meta name="keywords" content="{{ meta_keywords }}">

    <link rel="stylesheet" href="{% static 'accounts/css/bootstrap.css' %}"/>

    <script type="text/javascript" src="{% static 'accounts/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'accounts/js/bootstrap.bundle.js' %}"></script>

    {% block title %} {% endblock %}
    {% block css %} {% endblock %}
    {% block js %} {% endblock %}

  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'accounts:siyaram' %}">
          <img src="{% static 'accounts/img/ramjee.jpg' %}" alt="ramjee" width="30" height="24" style="border-radius: 50%;">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <form class="d-flex" action="{% url 'accounts:search' %}" method="post">
              {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            &nbsp;

            <div class="navbar-nav">
                <a class="btn btn-outline-success" href="{% url 'ramjee:harkare' %}">Harkare</a>
                &nbsp;
                <a class="btn btn-outline-success" href="{% url 'ramjee:donation' %}">Donation</a>
            </div>

            <div class="navbar-nav ms-auto">                
                {% if request.user.is_authenticated %}

                  {% if request.user.is_superuser %}
                      <a class="btn btn-outline-success" href="{% url 'ramjee:upload' %}">Upload</a>
                  {% endif %}
                  &nbsp;

                    <a class="btn btn-outline-success" href="{% url 'accounts:profile' %}">{{ request.user.user_name}}</a>
                    <a class="btn btn-outline-success" href="{% url 'accounts:logout' %}">Logout</a>
                  &nbsp;
                
                {% else %}
                    <a class="btn btn-outline-success" href="{% url 'accounts:login' %}">Login</a> &nbsp;
                    <a class="btn btn-outline-success" href="{% url 'accounts:register' %}">Register</a>
                {% endif %}

            </div>
        </div>
    </div>
  </nav>
  {% block site_wrapper %} {% endblock %}

</body>
</html>