{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_description }}">
    <meta name="keywords" content="{{ meta_keywords }}">

    <link rel="stylesheet" href="{% static 'accounts/css/bootstrap.css' %}"/>

    <script type="text/javascript" src="{% static 'accounts/js/bootstrap.js' %}"></script>

    {% block title %} {% endblock %}
    {% block css %} {% endblock %}
    {% block js %} {% endblock %}

  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
      <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'accounts:siyaram' %}">
          <img src="{% static 'accounts/img/ramjee.jpg' %}" alt="ramjee" width="30" height="24" style="border-radius: 50%;">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           

          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          &nbsp;

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="btn btn-outline-success" href="{% url 'ramjee:harkare' %}">Harkare</a>
            </li>
 
          </ul>

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}

            {% if request.user.is_superuser %}
              <li class="nav-item">
                <a class="btn btn-outline-success" href="{% url 'ramjee:upload' %}">Upload</a>
              </li>
            {% endif %}
            &nbsp;

            <li class="nav-item">
              <a class="btn btn-outline-success" href="{% url 'accounts:profile' %}">{{ request.user.user_name}}</a>
              <a class="btn btn-outline-success" href="{% url 'accounts:logout' %}">Logout</a>
            </li>
            &nbsp;
          
          {% else %}
            <li class="nav-item">
              <a class="btn btn-outline-success" href="{% url 'accounts:login' %}">Login</a>
              <a class="btn btn-outline-success" href="{% url 'accounts:register' %}">Register</a>
            </li>  
          {% endif %}
          </ul>


        </div>

      </div>
    </nav>

  {% block site_wrapper %} {% endblock %}
  </body>

</html>

