{% extends "accounts/base.html" %}
{% load static %}

{% block title %}
    <title > Harkare | Harkare </title>
{% endblock %}

{% block css %}{% endblock %}
{% block js %} {% endblock %}

{% block site_wrapper %}

<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if message %}
                <div class="alert alert-warning" role="alert">
                  {{ message }}
                </div>
            {% endif %}
            <form action="{% url 'accounts:register' %}" method="post">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Username" name="username" id="username" aria-label="Username" aria-describedby="basic-addon1" Value="Rajkumar">
                <input type="text" class="form-control" placeholder="Pitaji" name="pitaji" id="pitaji" aria-label="Pitaji" aria-describedby="basic-addon1" Value="Dasharath">
                <input type="text" class="form-control" placeholder="Mataji" name="mataji" id="mataji" aria-label="Mataji" aria-describedby="basic-addon1" Value="Kaushlya">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="sudoxvf@gmail.com">
                <input type="text" class="form-control" placeholder="Gaon" name="gaon" id="gaon" aria-label="Gaon" aria-describedby="basic-addon1" value="Amaravati">
                <input type="text" class="form-control" placeholder="Viradari" name="viradari" id="viradari" aria-label="Viradari" aria-describedby="basic-addon1" value="Manushya">
                <input type="password" class="form-control" placeholder="Password" name="inputPassword1" id="inputPassword1" value="siyaram">
                <input type="password" class="form-control" placeholder="Password" name="inputPassword2" id="inputPassword2" value="siyaram">
                <input type="submit" class="btn btn-success col-md-12" value="SitaRam">
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}