{% extends "accounts/base.html" %}
{% load static %}

{% block title %}
    <title > Harkare | Harkare </title>
{% endblock %}

{% block css %}{% endblock %}
{% block js %} {% endblock %}

{% block site_wrapper %}

<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if message %}
                <div class="alert alert-warning" role="alert">
                  {{ message }}
                </div>
            {% endif %}
            <form action="." method="post">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Username" name="username" id="username" aria-label="Username" aria-describedby="basic-addon1" Value="Amit">
                <input type="text" class="form-control" placeholder="Username" name="pitaji" id="pitaji" aria-label="Pitaji" aria-describedby="basic-addon1" Value="Lalbahadur">
                <input type="text" class="form-control" placeholder="Username" name="mataji" id="mataji" aria-label="Mataji" aria-describedby="basic-addon1" Value="Asha Devi">
                <input type="email" class="form-control" name="email" id="email" placeholder="siyaram@ramayan.com" value="siyaram@ramayan.com">
                <input type="text" class="form-control" placeholder="Viradari" name="gaon" id="gaon" aria-label="Gaon" aria-describedby="basic-addon1" value="Khandwa">
                <input type="text" class="form-control" placeholder="Viradari" name="viradari" id="viradari" aria-label="Viradari" aria-describedby="basic-addon1" value="Kunbi">
                <input type="password" class="form-control" name="inputPassword1" id="inputPassword1" value="4BgMa$Ve939">
                <input type="password" class="form-control" name="inputPassword2" id="inputPassword2" value="4BgMa$Ve939">
                <input type="submit" class="btn btn-success col-md-12" value="Register">
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}