{% extends "accounts/base.html" %}
{% load static %}

{% block title %}
    <title > Harkare | Harkare </title>
{% endblock %}

{% block css %} {% endblock %}
{% block js %}
<script type="text/javascript">
  $(function(){
    $("audio").on("play", function() {
      $("audio").not(this).each(function(index, audio) {
        audio.pause();
      });
    });
  });
</script>
{% endblock %}

{% block site_wrapper %}

<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if message %}
                <div class="alert alert-warning" role="alert">
                  {{ message }}
                </div>
            {% endif %}

            <div class="accordion" id="accordionFlushExample">
                {% for harkara in harkare %}
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{forloop.counter}}">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapse{{forloop.counter}}">
                        {{harkara.name}}
                      </button>
                    </h2>
                    <div id="flush-collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{forloop.counter}}" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <audio controls id="harkara{{forloop.counter}}">
                          <source src="{{harkara.url}}" type="audio/mpeg">
                          Your browser does not support the audio element.
                        </audio>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}