{% extends "accounts/base.html" %}
{% load static %}

{% block title %}
    <title > Harkare | Harkare </title>
{% endblock %}

{% block css %}{% endblock %}
{% block js %} {% endblock %}

{% block site_wrapper %}

<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
              Heroku :: Upload Not Working
            </div>
            <div class="alert alert-success" role="alert">
              Localhost :: Listen at a peaceful time via a link sent on your email daily
            </div>
            <div class="alert alert-success" role="alert">
               भारत :: शाम 7:00 बजे से रात्रि 11:00 बजे तक 
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}